/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #151539;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 40px 20px;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

/* Header Styles */
h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fafbfc;
    margin-bottom: 15px;
    letter-spacing: 1.5px;
    opacity: 0; /* Start hidden */
    transform: translateY(-50px); /* Start position */
    animation: fadeInDown 1s ease-out forwards; /* Animation */
}

p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-bottom: 80px;
    max-width: 900px;
    opacity: 0; /* Start hidden */
    animation: fadeIn 1s ease-out 1.5s forwards; /* Delayed animation */
}

/* Button Container */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f4f2;
    color: rgb(69, 67, 67);
    border: none;
    padding: 17px 0;
    border-radius: 100px;
    cursor: pointer;
    font-size: 1.3rem;
    text-decoration: none;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
    text-align: center;
    width: 370px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    opacity: 0; /* Start hidden */
    transform: translateY(50px); /* Start position */
    animation: slideIn 1s ease-out forwards;
    animation-delay: calc(var(--btn-index, 1) * 0.5s); /* Delay for each button */
    border: 2px solid #f9fbfa;
}

.btn:hover {
    background-color: #1b1141;
    color: #eef5f1;  /* Green text on hover */
    transform: translateY(-3px);
}

.btn:focus {
    outline: none;
}

/* Footer */
footer {
    margin-top: auto;
    font-size: 0.9rem;
    color: #7f8c8d;
    text-align: center;
    padding: 1px;
    width: 50%;
}

/* Keyframes for Animations */
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
